body{
    font-family: "Lexend";
}
.bg-header{
    background-color: #FFEFE6;
}

.bg-heading{
    
    font-size: 2.7rem;
    font-weight:600;
    
}
.bg-heading span{
    color: #FF6000;
}
.btn-order-now{
    background-color: #FF6000;
    border-color: #FF6000;
    width: 35%;
}
.btn-order-now:hover{
    background-color: #fc6101;
    border-color: #e55801;
}
.btn-order-now:active{
    background-color: #da5401 !important;
    border-color: #da5401 !important;
}
.btn-track-order{
    border-color: #FF6000;
    width: 35%;
    color:#FF6000 ;
}
.btn-track-order:hover{
    border-color: #FF6000;
    background-color: #FF6000 ;
    
}
.btn-track-order:active{
    border-color: #FF6000 !important;
    background-color: #da5401 !important;
    
}
.d-box-heading{
    font-size: 1.3rem;
    font-weight: 600;
}
.d-box-subheading{
    color: #939393;
    font-size: 0.5rems;
}
.header-img{
    padding-bottom: 4rem;
}
.icons{
    width: 80px;
}

.dish-subhead{
    color: #B3B3B3;
    font-size: 0.8rem;
}
.indian-head{
    margin-top: 5rem;
}
.p-name{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.p-link{
    font-size: 1.2rem;
    text-decoration:none;
    color: #FF6000;
}
.random-bar{
    background-color: #FFEFE6;
}
.m-btn{
    width: 40%;
    padding: 0.6rem;
    background-color: #FF7B2B;
    border: none;

}
.m-btn:hover{
    border-color: #FF6000;
    background-color: #FF6000 ;
    
}
.m-btn:active{
    border-color: #FF6000 !important;
    background-color: #da5401 !important;
    
}
.image-box{
    height: 130px;
}
.f-name{
    background-color: #FFEFE6;
    width: 75%;
    height: 300px;
    
}
.f-text{
    padding-top: 7rem;
    font-size: 1.5rem;
    font-weight: 500;
    
}
.f-text span{
    color: #FF6000;
    
}
.m-img{
    width: 65%;
}
.menu-margin{
    margin-top: 7.5rem;
}
.offer-page{
    margin-top: 4rem;
}
.fd-footer{
    background-color: #FFEFE6;
    margin-top: 4.6rem;
    border-top: 0.3rem dashed #FF6000 ;
    height: 325px;
    line-height: 2.5;
}

.col-title{
    font-size: 2.3rem;
    font-family: "Wendy One";
}
.col-title span{
    color: #FF6000;
}
.col-data{
    color: #939393;
    font-size: 1rem;
}
.ft-follow{
    font-size: 2rem;
    color: #FF6000;
    font-family: "Wendy One";
}
.ft-icons{
    color: #939393;
    font-size: 1rem;
}
.col-title-2{
    color: #FF6000;
    font-size: 2rem;
}
.col-data-anchor a{
    color: #939393;
    font-size: 1rem;
    text-decoration: none;
}

